---
import BaseLayout from "../layouts/Common.astro";

import { getCollection } from "astro:content";
const certifications = (await getCollection("certifications")).sort(
  (a, b) => b.data.issueDate.valueOf() - a.data.issueDate.valueOf()
);
---

<BaseLayout>
  <!-- Hero area start -->
  <section class="about__hero plr-50 pt-100 pb-120">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div
            class="about__education-img cf_img img_anim_reveal"
            style="align-items:unset"
          >
            <img src="/about/lucabertelli.jpeg" alt="Luca Bertelli" />
          </div>
        </div>
        <div class="col-lg-8">
          <div class="about__hero-right">
            <h1 class="lb__hero-subtitle has_char_anim" data-on-scroll="0">
              Hi 🖐 I'm Luca
            </h1>
            <h2
              class="lb__hero-title has_fade_anim"
              data-on-scroll="0"
              data-delay=".6"
            >
              Cloud Native <br />
              <span id="typed_list">
                <span>Engineer</span>
                <span>Advisor</span>
                <span>Consultant</span>
                <span>Developer</span>
              </span>
              <span id="typed"></span>
            </h2>
            <!-- <h2 class="about__hero-title has_text_reveal_anim">
                Listening <br /> Advising <br /> & more
              </h2> -->
            <div class="cf_text has_fade_anim">
              <p style="max-width:100%">
                As a DevOps & Cloud Native engineer and advisor, I bring a
                wealth of hands-on experience and strategic insights to empower
                businesses in navigating the complexities of modern IT
                landscapes, ensuring smooth integration, scalability, and
                optimal performance in the cloud-native ecosystem. I specialize
                in platform engineering, focusing on seamless integration,
                scalability, and optimal performance within the cloud-native
                ecosystem. Serving as an advisor, I aim to facilitate the
                adoption of the latest technologies, ensuring organizations
                build a solid foundation with effective platform engineering
                practices.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Hero area end -->

  <!-- Text Slider start -->
  <section class="about__textslider-area pb-100">
    <div class="about__textslider">
      <div
        class="swiper text__slider"
        data-autoPlay="true"
        data-sliderSpeed="40000"
      >
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="text-slide-content">
              <h2 class="title">Skills</h2>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="text-slide-content">
              <h2 class="title">Experience</h2>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="text-slide-content">
              <h2 class="title">Education</h2>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="text-slide-content">
              <h2 class="title">Skills</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Text Slider end -->

  <!-- Education area start -->
  <section class="about__education-area pb-130">
    <div class="container">
      <div class="row">
        <!-- <div class="col-md-4 col-sm-12">
            <div class="about__education-img cf_img img_anim_reveal">
              <img src="/about/lucabertelli.jpeg" alt="Luca Bertelli" />
            </div>
          </div> -->
        <div class="col-md-4 col-sm-6">
          <div
            class="about__education-list has_fade_anim"
            data-fade-from="left"
          >
            <div class="about__education-title-pd">
              <h2 class="about__education-title">Experience</h2>
            </div>
            <div class="about__education-grid">
              <div class="about__education">
                <p>
                  <i class="fa-regular fa-calendar-days"></i> 2024 -
                </p>
                <p class="title">Cloud Native & DevOps Consultant</p>
                <p class="company">Freelance</p>
              </div>
              <div class="about__education">
                <p>
                  <i class="fa-regular fa-calendar-days"></i> 2022 - 2024
                </p>
                <p class="title">Cloud Native Engineering Manager</p>
                <p class="company">
                  <a href="https://www.kiratech.it" target="_blank">Kiratech</a>
                </p>
              </div>
              <div class="about__education">
                <p>
                  <i class="fa-regular fa-calendar-days"></i> 2019 - 2022
                </p>
                <p class="title">Cloud Native Engineer</p>
                <p class="company">
                  <a href="https://www.kiratech.it" target="_blank">Kiratech</a>
                </p>
              </div>
              <div class="about__education">
                <p>
                  <i class="fa-regular fa-calendar-days"></i> 2018 - 2019
                </p>
                <p class="title">DevOps Engineer</p>
                <p class="company">
                  <a href="https://www.asem.it" target="_blank">ASEM</a>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div
            class="about__education-list has_fade_anim"
            data-fade-from="left"
            data-delay="0.7"
          >
            <div class="about__education-title-pd">
              <h2 class="about__education-title">&nbsp;</h2>
            </div>
            <div class="about__education-grid">
              <div class="about__education">
                <p>
                  <i class="fa-regular fa-calendar-days"></i> 2014 - 2018
                </p>
                <p class="title">Oracle Tuxedo Engineering</p>
                <p class="company">
                  <a
                    href="https://www.linkedin.com/company/value-transformation-services/"
                    target="_blank">Value Transformation Services</a
                  >
                </p>
              </div>
              <div class="about__education">
                <p>
                  <i class="fa-regular fa-calendar-days"></i> 2011 - 2014
                </p>
                <p class="title">Technology Architecture Sr. Analyst</p>
                <p class="company">
                  <a href="https://www.accenture.it" target="_blank"
                    >Accenture</a
                  >
                </p>
              </div>
              <div class="about__education">
                <p>
                  <i class="fa-regular fa-calendar-days"></i> 2009 - 2011
                </p>
                <p class="title">Software developer</p>
                <p class="company">
                  <a href="https://www.accenture.it" target="_blank"
                    >Accenture</a
                  >
                </p>
              </div>
              <div class="about__education">
                <p>
                  <i class="fa-regular fa-calendar-days"></i> 2008 - 2009
                </p>
                <p class="title">Software Developer</p>
                <p class="company">
                  <a href="https://www.adawen.it/" target="_blank">Adawen</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Education area end -->

  <!-- Award section start -->
  <section class="about__award-area pt-120 pb-130">
    <div class="container">
      <div class="row">
        <div class="col-lg-9">
          <div class="sec-title-wrapper">
            <h2 class="sec-sub-title has_text_reveal_anim">Certifications</h2>
            <div class="about__award-title-pd">
              <h3 class="about__award-title has_text_reveal_anim">
                Learning Unbound: Never Stop, Never Settle
              </h3>
            </div>
            <div class="cols-2">
              <div class="line-left">
                <p>Achievement</p>
              </div>
              <img src="/about/shape-5.png" alt="shape" class="shape arrow" />
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xxl-12">
          <div class="lb-award__list">
            {
              certifications.map((certification, index) => (
                <div class="lb-award__item has_fade_anim">
                  <p class="lb-award__number">{index + 1}</p>
                  <p class="lb-award__title">
                    <a href={certification.data.url} target="_blank">
                      {certification.data.title}
                    </a>
                  </p>
                  <a href={certification.data.url} target="_blank">
                    <img
                      src={`${certification.data.badgeImage}`}
                      style="max-height: 100px;max-height: 100px;"
                      class="show-dark"
                      alt="Award Image"
                    />
                  </a>
                  <p class="lb-award__date">
                    {certification.data.issueDate.toLocaleString("en-US", {
                      year: "numeric",
                      month: "short",
                    })}
                  </p>
                </div>
              ))
            }
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Award section end -->
</BaseLayout>
