<!-- Text Slider start -->
<section class="about__textslider-area pb-100">
  <div class="about__textslider">
    <div
      class="swiper text__slider"
      data-autoPlay="true"
      data-sliderSpeed="40000"
    >
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="text-slide-content">
            <h2 class="title">Skills</h2>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="text-slide-content">
            <h2 class="title">Experience</h2>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="text-slide-content">
            <h2 class="title">Education</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Text Slider end -->

<!-- Experience area start -->
<section class="about__experience-area pb-130">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-6">
        <div class="about__experience-list has_fade_anim" data-fade-from="left">
          <div class="about__experience-grid">
            <div class="about__experience">
              <p>
                <i class="fa-regular fa-calendar-days"></i> 2024 -
              </p>
              <p class="title">Cloud Native & DevOps Consultant</p>
              <p class="company">Freelance</p>
            </div>
            <div class="about__experience">
              <p>
                <i class="fa-regular fa-calendar-days"></i> 2023 -
              </p>
              <p class="title">Co-Founder</p>
              <p class="company">
                <a href="https://www.krateo.io" target="_blank"
                  >Krateo PlatformOps</a>
              </p>
            </div>
            <div class="about__experience">
              <p>
                <i class="fa-regular fa-calendar-days"></i> 2022 - 2024
              </p>
              <p class="title">Cloud Native Engineering Manager</p>
              <p class="company">
                <a href="https://www.kiratech.it" target="_blank">Kiratech</a>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div
          class="about__experience-list has_fade_anim"
          data-fade-from="left"
          data-delay="0.7"
        >
          <div class="about__experience-grid">
            <div class="about__experience">
              <p>
                <i class="fa-regular fa-calendar-days"></i> 2019 - 2022
              </p>
              <p class="title">Cloud Native Engineer</p>
              <p class="company">
                <a href="https://www.kiratech.it" target="_blank">Kiratech</a>
              </p>
            </div>
            <div class="about__experience">
              <p>
                <i class="fa-regular fa-calendar-days"></i> 2018 - 2019
              </p>
              <p class="title">DevOps Engineer</p>
              <p class="company">
                <a href="https://www.asem.it" target="_blank">ASEM</a>
              </p>
            </div>
            <div class="about__experience">
              <p>
                <i class="fa-regular fa-calendar-days"></i> 2014 - 2018
              </p>
              <p class="title">Oracle Tuxedo Engineering</p>
              <p class="company">
                <a
                  href="https://www.linkedin.com/company/value-transformation-services/"
                  target="_blank">Value Transformation Services</a
                >
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div
          class="about__experience-list has_fade_anim"
          data-fade-from="left"
          data-delay="0.7"
        >
          <div class="about__experience-grid">
            <div class="about__experience">
              <p>
                <i class="fa-regular fa-calendar-days"></i> 2011 - 2014
              </p>
              <p class="title">Technology Architecture Sr. Analyst</p>
              <p class="company">
                <a href="https://www.accenture.it" target="_blank">Accenture</a>
              </p>
            </div>
            <div class="about__experience">
              <p>
                <i class="fa-regular fa-calendar-days"></i> 2009 - 2011
              </p>
              <p class="title">Software developer</p>
              <p class="company">
                <a href="https://www.accenture.it" target="_blank">Accenture</a>
              </p>
            </div>
            <div class="about__experience">
              <p>
                <i class="fa-regular fa-calendar-days"></i> 2008 - 2009
              </p>
              <p class="title">Software Developer</p>
              <p class="company">
                <a href="https://www.adawen.it/" target="_blank">Adawen</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Experience area end -->
