<header class="header__area pos-abs plr-50">
  <div class="header__inner">
    <div class="header__logo-3">
      <a href="index.html">
        <img
          src="/logo.png"
          class="show-dark"
          alt="Site Logo"
        />
      </a>
    </div>
    <div class="header__nav">
      <nav class="main-menu">
        <ul>
          <li><a href="index.html">home</a></li>
          <li><a href="blog.html">blog</a></li>
          <li><a href="contact.html">contact</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
