---
import { getLangFromUrl, useTranslations } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<!-- Services section start  -->
<section class="lb-ins__area pb-100">
  <div class="container">
    <div class="lb-inp__project-sec-title-wrap">
      <h1 class="lb-inp__project-title has_text_move_anim">
        {t("index.services.title")}
      </h1>
    </div>
    <div class="lb-ins__area-service-items">
      <div class="lb__expertise-grid">
        <div
          class="lb__expertise-item cf_service_card has_fade_anim"
          data-fade-from="left"
          data-speed="1.15"
        >
          <div class="lb__expertise-content">
            <div class="lb__expertise-heading">
              <h4 class="lb__expertise-title">{t("index.services.1.title")}</h4>
            </div>
            <div class="lb__expertise-body">
              <div class="lb__expertise-bthumb">
                <img src="/expertise/assessment.png" alt="expert" loading="lazy" />
              </div>
            </div>
            <div class="lb__expertise-footer">
              <p>{t("index.services.1.text")}</p>
            </div>
          </div>
        </div>
        <div
          class="lb__expertise-item cf_service_card has_fade_anim"
          data-fade-from="left"
          data-speed="0.95"
        >
          <div class="lb__expertise-content">
            <div class="lb__expertise-heading">
              <h4 class="lb__expertise-title">{t("index.services.2.title")}</h4>
            </div>
            <div class="lb__expertise-body">
              <div class="lb__expertise-bthumb">
                <img src="/expertise/cloud-upload.png" alt="expert" loading="lazy" />
              </div>
            </div>
            <div class="lb__expertise-footer">
              <p>{t("index.services.2.text")}</p>
            </div>
          </div>
        </div>
        <div
          class="lb__expertise-item cf_service_card has_fade_anim"
          data-fade-from="left"
          data-speed="1.15"
        >
          <div class="lb__expertise-content">
            <div class="lb__expertise-heading">
              <h4 class="lb__expertise-title">{t("index.services.3.title")}</h4>
            </div>
            <div class="lb__expertise-body">
              <div class="lb__expertise-bthumb">
                <img src="/expertise/fingerprint.png" alt="expert" loading="lazy" />
              </div>
            </div>
            <div class="lb__expertise-footer">
              <p>{t("index.services.3.text")}</p>
            </div>
          </div>
        </div>
        <div
          class="lb__expertise-item cf_service_card has_fade_anim"
          data-fade-from="left"
          data-speed=".95"
        >
          <div class="lb__expertise-content">
            <div class="lb__expertise-heading">
              <h4 class="lb__expertise-title">{t("index.services.4.title")}</h4>
            </div>
            <div class="lb__expertise-body">
              <div class="lb__expertise-bthumb">
                <img src="/expertise/users-class.png" alt="expert" loading="lazy" />
              </div>
            </div>
            <div class="lb__expertise-footer">
              <p>{t("index.services.4.text")}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /Services section end  -->
