---
import BaseLayout from "../../layouts/Common.astro";
import Tickets from "../../components/Tickets.astro";

import { getLangFromUrl, useTranslations } from "../../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

// import sendGrid from "@sendgrid/mail";
// sendGrid.setApiKey(import.meta.env.SENDGRID_API_KEY);

// if (Astro.request.method === "POST") {
//   try {
//     // Getting posted data from our contact form
//     const data = await Astro.request.formData();
//     const name = data.get("Name");
//     const email = data.get("Email");
//     const message = data.get("Messages");

//     // TODO: Do not forget to do validation and error handling over received data from your contact form.

//     // Sending email
//     const msg = {
//       to: "info@lucabertelli.consulting", // Change to your recipient
//       from: `${email}`, // Change to your verified sender
//       replyTo: { email: email, name: name },
//       subject: `Contact form submission from ${name}`,
//       text: message,
//     };
//     await sendGrid
//       .send(msg)
//       .then(() => {
//         console.log("Email sent");
//       })
//       .catch((error) => {
//         console.error(error);
//       });
//   } catch (error) {
//     console.error(error);
//   }
// }
---

<BaseLayout>
  <!-- Contact area start  -->
  <section class="lb__innercontact plr-50 pt-120 pb-120">
    <div class="lb__innercontact-top">
      <div class="lb__innercontact-wrapper">
        <div class="lb__innercontact-titlewrap">
          <h1 class="lb__innercontact-title pb-35">
            Let's <br /> Get in Touch
          </h1>
          <div class="cf_text lb__innercontact-dis">
            <p style="padding-right: 75px">{t('contact.invite')}<a
                href="www.linkedin.com/in/luca-bertelli-a1413b77"
                target="_blank">LinkedIn</a
              >.
            </p>
          </div>
          <div class="lb__innercontact-contactItem pb-15">
            <span>{t('contact.email')}:</span>
            <a href="mailTo:info@lucabertelli.consulting"
              >info@lucabertelli.consulting</a
            >
          </div>
        </div>
        <div class="lb__innercontact-form">
          <!-- https://medium.com/@rezahedi/how-to-build-a-contact-form-in-astro-vercel-and-sendgrid-b924a76fd739 -->
          <form method="post">
            <div class="lb__contact-wrap">
              <div class="lb__contact-formwrapper">
                <div class="lb__contact-formfield">
                  <input
                    type="text"
                    name="Name"
                    id="Name"
                    placeholder={t('contact.form.name')}
                  />
                </div>
                <div class="lb__contact-formfield">
                  <input
                    type="text"
                    name="Email"
                    id="Email"
                    placeholder={t('contact.form.email')}
                  />
                </div>
              </div>
              <div class="lb__contact-formwrapper">
                <div class="lb__contact-formfield">
                  <input
                    type="text"
                    name="Subject"
                    id="Subject"
                    placeholder={t('contact.form.subject')}
                  />
                </div>
              </div>
              <div class="lb__contact-msg mt-0">
                <input
                  type="text"
                  name="Messages"
                  id="Messages"
                  placeholder={t('contact.form.message')}
                />
              </div>
              <div class="lb-submit__btn mt-40">
                <button
                  type="submit"
                  class="btn-hover-mask text-uppercase"
                  data-text={t('contact.form.submit')}>{t('contact.form.submit')}</button
                >
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
  <!-- Contact area end  -->

  <!-- map  -->
  <div class="lb-contact__map mbm-1">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d44802.58617703316!2d10.951331914333318!3d45.4262429445608!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x477f5f68699be0e3%3A0x53f85a636882595b!2sVerona%2C%20VR!5e0!3m2!1sen!2sit!4v1701554941842!5m2!1sen!2sit"
      class="w-100"></iframe>
  </div>
  <!-- /map  -->

  <Tickets />
</BaseLayout>
