
.dir-rtl .swiper-slide {
  direction: rtl;
}


/* Test Purpose */
.offcanvas-area {
  opacity: 0;
  visibility: hidden;
}

/* Disable animations for mobile devices */
@media (max-width: 768px) {
  * {
    animation: none !important;
    transition: none !important;
  }
}